<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trivia Game</title>
    <script type="text/javascript" src="/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link href= "/style/home.css" rel="stylesheet" type="text/css" />
</head>
<body class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/">Trivia Game</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scores"  data-toggle="modal" data-target="#myModal">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">start new game!</a>
          </li>
        </ul>
      </nav>
</header>
<main>
    <div class="jumbotron">
        <h1>Welcome to my Trivia Game</h1>
        <p> In this game, you will chosoe category and asked 3 easy questions.</p>
        <a class="btn btn-info" href="/category">Let's start!</a>
    </div>
</main>
    <footer>
        <p class="text-center text-muted">© Copyright 2021 Amit Margalit</p>
    </footer>



</body>
</html>

